.footer-brands {

  @include lt-md {
    row-gap: 15px;
    margin-top: 3px;
  }

  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  align-items: center;
  justify-content: flex-start;
}

.icon {
  fill: var(--grey-brand);

  &:hover {
    fill: var(--black);
  }
}