.header-search {
  position: relative;
  z-index: 2;

  display: flex;
  align-items: center;

  width: 390px;
  height: 40px;

  background-color: var(--grey-bg-search);
  border-radius: 2px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
}

input {
  flex: 1;

  box-sizing: border-box;
  height: 100%;
  padding: 0 15px;

  font-size: 14px;
  line-height: normal;
  color: black;

  background: none;
}

.icon {
  fill: #777777;
  transition: fill 0.25s;
}

button {
  background: none;
  border: none;
  outline: none;

  &:hover {
    & .icon {
      fill: black;
    }
  }
}