.subscribe {

  @include gt-sm {
    padding: 33px 78px 47px;
    border-radius: 12px;
  }

  @include lt-md {
    min-height: 378px;
    padding: 24px 18px;
  }

  position: relative;
  margin-top: 78px;
  background: var(--black);

  & .subscribe-form {
    position: relative;
    z-index: 2;
  }
}

.title {
  @include gt-sm {
    max-width: 293px;
    font-size: 36px;
    line-height: 40px;
  }

  @include lt-md {
    max-width: 196px;
    font-size: 24px;
    line-height: 28px;
  }

  margin-bottom: 30px;
  font-weight: 700;
  color: var(--white);
}

img {
  position: absolute;
  z-index: 1;

  &.envelope {

    @include gt-sm {
      top: 0;
    }

    @include lt-md {
      top: -30px;
    }

    right: 0;
  }

  &.bird {
    @include gt-sm {
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }

    @include lt-md {
      right: 0;
      bottom: -94px;
    }
  }
}