@import url("fonts.css");
@import url("reset.css");
@import url("normalize.css");

:root {
  --circle-bold: 'Circe_Bold';
  --circle-regular: 'Circe_Regular';
  --rotonda-c: 'RotondaC';
  --rotonda-bold: 'Rotonda-Bold';

  --yellow: #ffc42e;
  --grey: #c4c4c4;
  --grey-dark: #868686;
  --grey-light: #e7e7e7;
  --grey-extralight: #f1f1f1;
  --red: #d01012;
  --blue: #005be4;
  --border-grey-color: #e5e5e5;

  --telegram-colored: #37aee2;
  --telegram-colored-hover: #2097cb;
  --whatsapp-colored: #00b14e;
  --whatsapp-colored-hover: #009a44;
  --vk: #3755a4;
  --youtube: #dd2929;
  --dzen: #9b2121;

  --grey-brand: #b2b2b2;
  --black-title: #2c2c2c;

  --grey-bg-search: #f1f1f1;
  --grey-color-categories: #999999;

  --grey-bg-tags: #eeeeee;

  --icon-search: #777777;
}

html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;

  height: 100%;

  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: black;
}

a {
  color: var(--blue);
  text-decoration: none;
}

input,
input:focus {
  border: none;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: var(--grey-dark);
  opacity: 1;
  -webkit-transition: opacity 0.05s;
  transition: opacity 0.05s;
}

/* Chrome <=56, Safari < 10 */
:-moz-placeholder {
  color: var(--grey-dark);
  opacity: 1;
  -moz-transition: opacity 0.05s;
  transition: opacity 0.05s;
}

/* FF 4-18 */
::-moz-placeholder {
  color: var(--grey-dark);
  opacity: 1;
  -moz-transition: opacity 0.05s;
  transition: opacity 0.05s;
}

/* FF 19-51 */
:-ms-input-placeholder {
  color: var(--grey-dark);
  opacity: 1;
  -ms-transition: opacity 0.05s;
  transition: opacity 0.05s;
}

/* IE 10+ */
::placeholder {
  color: var(--grey-dark);
  opacity: 1;
  transition: opacity 0.05s;
}

/* Modern Browsers */

*:focus::-webkit-input-placeholder {
  opacity: 0;
}

/* Chrome <=56, Safari < 10 */
*:focus:-moz-placeholder {
  opacity: 0;
}

/* FF 4-18 */
*:focus::-moz-placeholder {
  opacity: 0;
}

/* FF 19-50 */
*:focus:-ms-input-placeholder {
  opacity: 0;
}

/* IE 10+ */
*:focus::placeholder {
  opacity: 0;
}

/* Modern Browsers */

input[type='number'] {
  -moz-appearance: textfield;
}

button {
  padding: 0;
  background: none;
  border: none;
  outline: none;
}

.row-example {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em auto;
}

.row-example > * {
  margin: 0.2em;
}



























