.footer-section {
  @include gt-sm {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @include lt-md {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  border-bottom: 1px solid var(--border-grey-color);

  &:first-child {
    border-top: 1px solid var(--border-grey-color);
  }

  &.active {
    & .icon {
      @include lt-md {
        transform: rotate(45deg);
      }
    }

    & .list {
      @include lt-md {
        display: block;
        padding: 0 16px;
      }
    }
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
}

.list {
  @include gt-sm {
    column-count: 5;
  }

  @include lt-md {
    display: none;
    padding: 0 16px;
  }
}

.item {
  @include gt-sm {
    line-height: 18px;
    color: var(--grey-dark);
  }

  @include lt-md {
    line-height: 25px;
    color: var(--black);
  }

  display: block;
  font-size: 13px;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.icon {
  @include gt-sm {
    display: none;
  }

  @include lt-md {
    display: block;
  }

  transition: 0.2s;
}