.card {
  overflow: hidden;
  flex: 0 0 288px;

  box-sizing: border-box;

  border: 1px solid #dcdcdc;
  border-radius: 10px;

  &:first-child {
    @include gt-sm {
      flex: 0 0 600px;
    }

    @include gt-sm {
      & .figcaption {
        &:after {
          content: '';
          clear: both;
          display: table;
        }

        & .group-text,
        & .controls {
          float: left;
          justify-content: flex-start;
          width: 64%;
          text-align: left;
        }

        & .availability {
          margin-left: 20px;
        }

        & .group-form {
          float: right;
        }
      }

      & .title {
        justify-content: flex-start;
        min-height: 40px;
        line-height: 20px;
      }

      & .btn {
        @include gt-sm {
          margin: 10px 0 0;
        }

        @include lt-md {
          margin-top: 17px;
        }
      }
    }
  }

  & .btn {
    @include gt-sm {
      margin: 10px 0 15px;
    }

    @include lt-md {
      margin-top: 17px;
    }
  }
}

.figure {
  min-height: 218px;
}

.figcaption {
  padding: 15px;
  text-align: center;
}

.vendor-code {
  @include gt-sm {
    font-size: 14px;
    line-height: 20px;
  }

  @include lt-md {
    font-size: 11px;
  }

  line-height: 20px;
  color: #828282;
}

.title {
  @include gt-sm {
    font-size: 16px;
    line-height: 22px;
  }

  @include lt-md {
    font-size: 13px;
  }

  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 44px;

  color: black;
}

.price {
  @include gt-sm {
    font-size: 22px;
    line-height: 30px;
  }

  @include lt-md {
    font-size: 20px;
  }

  font-family: var(--circle-bold);
  color: black;
}

.controls,
.view,
.availability {
  display: flex;
}

.view,
.availability {
  gap: 5px;
  align-items: baseline;
}

.controls {
  @include lt-md {
    display: none;
  }

  justify-content: space-between;

  &__label {
    font-size: 13px;
    line-height: 18px;
    color: var(--grey-dark);
  }
}

.group-text {
}

.group-form {
}
