.card {
  overflow: hidden;

  box-sizing: border-box;
  max-width: 290px;

  border: 1px solid #dcdcdc;
  border-radius: 10px;

  &__btn {
    @include gt-sm {
      margin: 10px 0 15px;
    }

    @include lt-md {
      margin-top: 17px;
    }
  }
}

.figure {
  min-height: 218px;
}

.img {
  display: block;
  width: 100%;
}

.figcaption {
  padding: 15px;
  text-align: center;
}

.vendor-code {
  line-height: 20px;
  color: #828282;

  @include gt-sm {
    font-size: 14px;
    line-height: 20px;
  }

  @include lt-md {
    font-size: 11px;
  }
}

.title {
  color: var(--black);

  @include gt-sm {
    font-size: 16px;
    line-height: 22px;
  }

  @include lt-md {
    font-size: 13px;
  }
}

.price {
  font-weight: 700;
  color: var(--black);

  @include gt-sm {
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
  }

  @include lt-md {
    font-size: 20px;
  }
}

.controls,
.view,
.availability {
  display: flex;
}

.view,
.availability {
  gap: 5px;
  align-items: baseline;
}

.controls {
  justify-content: space-between;

  @include lt-md {
    display: none;
  }

  &__label {
    font-size: 13px;
    line-height: 18px;
    color: var(--grey-dark);
  }
}

.group-text {
  @include lt-md {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
}