:root {
  --white: #ffffff;
  --black: #000000;
  --yellow: #ffc42e;
  --grey: #c4c4c4;
  --grey-dark: #868686;
  --grey-light: #e7e7e7;
  --red: #d01012;
  --blue: #005be4;
}

html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;

  height: 100%;

  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: var(--black);
}

a {
  color: var(--blue);
  text-decoration: none;
}

.row-example {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em auto;
}

.row-example > * {
  margin: 0.2em;
}

.layout {
  box-sizing: border-box;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .layout {
    max-width: 1272px;
  }

  .layout--dm {
    padding: 0 24px;
  }

  .layout--desktop {
    max-width: 1272px;
    padding: 0 24px;
  }

  .vertical-space {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .layout--dm {
    padding: 0 10px;
  }

  .vertical-space {
    margin: 30px 0;
  }
}

/*typography*/
h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: bold;
}

.text-xxl {
  line-height: 30px;
}

.text-xl {
  font-size: 20px;
}

.text-error {
  color: var(--red);
}

.text-grey {
  color: var(--grey-dark);
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 40px;
    line-height: 45px;
  }

  h2 {
    font-size: 32px;
    line-height: 38px;
  }

  h3 {
    font-size: 22px;
    line-height: 30px;
  }

  h4 {
    font-size: 18px;
    line-height: 26px;
  }

  .text-xxl {
    font-size: 22px;
  }

  .text-xl {
    line-height: 32px;
  }

  .text-lg {
    font-size: 18px;
    line-height: 26px;
  }

  a,
  p,
  .text-md {
    font-size: 16px;
    line-height: 22px;
  }

  .text-sm {
    font-size: 14px;
    line-height: 20px;
  }

  .text-xs {
    font-size: 13px;
    line-height: 18px;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  h1 {
    font-size: 36px;
    line-height: 42px;
  }

  h2 {
    font-size: 30px;
    line-height: 35px;
  }

  h3 {
    font-size: 22px;
    line-height: 30px;
  }

  h4 {
    font-size: 18px;
    line-height: 26px;
  }

  .text-xxl {
    font-size: 21px;
  }

  .text-xl {
    line-height: 30px;
  }

  .text-lg {
    font-size: 20px;
    line-height: 28px;
  }

  a,
  p,
  .text-md {
    font-size: 18px;
    line-height: 25px;
  }

  .text-sm {
    font-size: 16px;
    line-height: 22px;
  }

  .text-xs {
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 32px;
    line-height: 38px;
  }

  h2 {
    font-size: 28px;
    line-height: 32px;
  }

  h3 {
    font-size: 22px;
    line-height: 28px;
  }

  h4 {
    font-size: 19px;
    line-height: 25px;
  }

  .text-xxl {
    font-size: 21px;
  }

  .text-xl {
    line-height: 30px;
  }

  .text-lg {
    font-size: 20px;
    line-height: 28px;
  }

  a,
  p,
  .text-md {
    font-size: 18px;
    line-height: 25px;
  }

  .text-sm {
    font-size: 16px;
    line-height: 22px;
  }

  .text-xs {
    font-size: 14px;
    line-height: 16px;
  }
}


.card {
  overflow: hidden;

  box-sizing: border-box;
  max-width: 290px;

  border: 1px solid #dcdcdc;
  border-radius: 10px;
}

.figure {
  min-height: 218px;
}

.img {
  display: block;
  width: 100%;
}

.figcaption {
  padding: 15px;
  text-align: center;
}

.vendor-code {
  line-height: 20px;
  color: #828282;
}

.title {
  color: var(--black);
}

.price {
  font-weight: 700;
  color: var(--black);
}

.controls,
.view,
.availability {
  display: flex;
}

.view,
.availability {
  gap: 5px;
  align-items: baseline;
}

.controls {
  justify-content: space-between;
}

.controls__label {
  font-size: 13px;
  line-height: 18px;
  color: var(--grey-dark);
}

@media screen and (min-width: 768px) {
  .vendor-code {
    font-size: 14px;
    line-height: 20px;
  }

  .title {
    font-size: 16px;
    line-height: 22px;
  }

  .price {
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
  }

  .card__btn {
    margin: 10px 0 15px;
  }
}

@media screen and (max-width: 767px) {
  .controls {
    display: none;
  }

  .group-text {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  .vendor-code {
    font-size: 11px;
  }

  .title {
    font-size: 13px;
  }

  .price {
    font-size: 20px;
  }

  .card__btn {
    margin-top: 17px;
  }
}
