:root {
  --white: #ffffff;
  --black: #000000;
  --yellow: #ffc42e;
  --grey: #c4c4c4;
  --grey-light: #e7e7e7;
  --red: #d01012;
  --blue: #005be4;
}

html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;

  height: 100%;

  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: var(--black);
}

a {
  color: var(--blue);
  text-decoration: none;
}

.row-example {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em auto;
}

.row-example > * {
  margin: 0.2em;
}

/*btn*/
.btn {
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  line-height: normal;
  color: var(--black);

  border: none;
  outline: none;

  transition: color 0.25s,
  background-color 0.25s;
}

.btn:disabled {
  cursor: none;
  color: var(--grey);
  background: var(--grey-light);
  border: none;
}

.btn:not(:disabled):hover {
  color: var(--white);
  background: var(--black);
}

.btn--yellow {
  background: var(--yellow);
}

.btn--ghost {
  background: none;
  border: 1px solid var(--black);
}

.btn--small {
  padding: 0 15px;
  font-size: 14px;
  line-height: 30px;
  border-radius: 15px;
}

.btn--medium {
  padding: 0 20px;
  font-size: 16px;
  line-height: 40px;
  border-radius: 20px;
}

.btn--large {
  padding: 0 25px;
  font-size: 18px;
  line-height: 50px;
  border-radius: 25px;
}

/*end btn*/

/*typography*/
h1,
h2,
h3,
h4 {
  font-weight: bold;
}

.text-xxl {
  line-height: 30px;
}

.text-xl {
  font-size: 20px;
}

.text-error {
  color: var(--red);
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 40px;
    line-height: 45px;
  }

  h2 {
    font-size: 32px;
    line-height: 38px;
  }

  h3 {
    font-size: 22px;
    line-height: 30px;
  }

  h4 {
    font-size: 18px;
    line-height: 26px;
  }

  .text-xxl {
    font-size: 22px;
  }

  .text-xl {
    line-height: 32px;
  }

  .text-lg {
    font-size: 18px;
    line-height: 26px;
  }

  a,
  p,
  .text-md {
    font-size: 16px;
    line-height: 22px;
  }

  .text-sm {
    font-size: 14px;
    line-height: 20px;
  }

  .text-xs {
    font-size: 13px;
    line-height: 18px;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  h1 {
    font-size: 36px;
    line-height: 42px;
  }

  h2 {
    font-size: 30px;
    line-height: 35px;
  }

  h3 {
    font-size: 22px;
    line-height: 30px;
  }

  h4 {
    font-size: 18px;
    line-height: 26px;
  }

  .text-xxl {
    font-size: 21px;
  }

  .text-xl {
    line-height: 30px;
  }

  .text-lg {
    font-size: 20px;
    line-height: 28px;
  }

  a,
  p,
  .text-md {
    font-size: 18px;
    line-height: 25px;
  }

  .text-sm {
    font-size: 16px;
    line-height: 22px;
  }

  .text-xs {
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 32px;
    line-height: 38px;
  }

  h2 {
    font-size: 28px;
    line-height: 32px;
  }

  h3 {
    font-size: 22px;
    line-height: 28px;
  }

  h4 {
    font-size: 19px;
    line-height: 25px;
  }

  .text-xxl {
    font-size: 21px;
  }

  .text-xl {
    line-height: 30px;
  }

  .text-lg {
    font-size: 20px;
    line-height: 28px;
  }

  a,
  p,
  .text-md {
    font-size: 18px;
    line-height: 25px;
  }

  .text-sm {
    font-size: 16px;
    line-height: 22px;
  }

  .text-xs {
    font-size: 14px;
    line-height: 16px;
  }
}
